.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile
.DS_Store
.gitattributes

MetaPathNet.Rcheck/
MetaPathNet.BiocCheck/
*.Rcheck/
*.tar.gz

check_log.txt
install_log.txt
bioccheck_log.txt

vignette_preview/
vignettes/*.html
vignettes/*.R
